<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>691824795003-09bqc8v66nujunmv6flgdalnlvhr3uv2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.691824795003-09bqc8v66nujunmv6flgdalnlvhr3uv2</string>
	<key>API_KEY</key>
	<string>AIzaSyD4-w9h2G6qGlnENKep6ivLBYj2IOO6Mls</string>
	<key>GCM_SENDER_ID</key>
	<string>691824795003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.travelmobile</string>
	<key>PROJECT_ID</key>
	<string>dbgroupmovile</string>
	<key>STORAGE_BUCKET</key>
	<string>dbgroupmovile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691824795003:ios:c5d9649731721edf4b31de</string>
</dict>
</plist>